@import "tailwindcss";

@theme inline{
   --font-inter: var(--font-inter);
}


@theme static{

      --color-black-01: #0a0a0a;
    
      --max-width-containerGRID: 81.875rem;
     --breakpoint-tablet: 40rem;
     --breakpoint-laptop: 64rem;
     --breakpoint-desktop: 80rem;
}


body{
   font-family: var(--font-inter);
   color: #fff;
   background-color: var(--color-black-01);
}